<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:tx="http://www.springframework.org/schema/tx"
	xmlns:jdbc="http://www.springframework.org/schema/jdbc"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:mvc="http://www.springframework.org/schema/mvc"
	
	xsi:schemaLocation="http://www.springframework.org/schema/beans
	 http://www.springframework.org/schema/beans/spring-beans.xsd
	 http://www.springframework.org/schema/aop
	 http://www.springframework.org/schema/aop/spring-aop.xsd
	 http://www.springframework.org/schema/tx
	 http://www.springframework.org/schema/tx/spring-tx.xsd
	 http://www.springframework.org/schema/jdbc
	 http://www.springframework.org/schema/jdbc/spring-jdbc.xsd
	 http://www.springframework.org/schema/context
	 http://www.springframework.org/schema/context/spring-context.xsd
	 http://www.springframework.org/schema/mvc
	 http://www.springframework.org/schema/mvc/spring-mvc.xsd"
	>
	
	<context:component-scan base-package="com.lzw.controller">
		<!-- <context:include-filter type="annotation" expression="org.springframework.stereotype.Controller"/> -->
	</context:component-scan>
	
	<!-- 不经过controller直接跳转页面，这样会使其他的请求不管用。解决方法是配置<mvc:annotation-driven></mvc:annotation-driven>,便可完美解决。 -->
	<mvc:view-controller path="/Login" view-name="/Login"/>
	<mvc:annotation-driven/>
	<mvc:default-servlet-handler/>
	
	<bean class="org.springframework.web.servlet.view.InternalResourceViewResolver">
		<property name="prefix" value="/WEB-INF/pages/"></property>
		<property name="suffix" value=".jsp"></property>
	</bean>
	
	<!-- 基于Session的国际化配置 -->
		<!-- 国际化资源文件配置,指定properties文件存放位置 -->
		<bean id="messageSource"
			class="org.springframework.context.support.ReloadableResourceBundleMessageSource">
			<property name="basename" value="classpath:i18n"></property>
			<!-- class="org.springframework.context.support.ResourceBundleMessageSource">
			<property name="basename" value="i18n"></property>	 -->
		</bean>
		
		<!-- 动态切换国际化放在Session中 -->
		<bean id="localeResolver"
			class="org.springframework.web.servlet.i18n.SessionLocaleResolver">
			<!-- <property name="defaultLocale" value="en_US"></property> -->
			<property name="defaultLocale" value="zh_CN"></property>
		</bean>
	
		<mvc:interceptors>
		<!-- 国际化操作拦截器 如果采用基于（请求/Session/Cookie）则必需配置 -->
				<!-- 在 interceptor外配置这默认拦截所有请求，反之拦截特定请求-->
				<!-- <bean class="org.springframework.web.servlet.i18n.LocaleChangeInterceptor">
		            <property name="paramName" value="language" />			
				</bean> -->
				<mvc:interceptor>
				<mvc:mapping path="/**"/>
				<mvc:exclude-mapping path="/Login"/>
				<mvc:exclude-mapping path="/login/chack"/>
				<bean class="com.lzw.interceptors.LoginInterceptor"/>

			</mvc:interceptor>
			<mvc:interceptor>
				<mvc:mapping path="/**"/>
				<bean class="org.springframework.web.servlet.i18n.LocaleChangeInterceptor">		 
					<!--  通过这个参数来决定获取那个配置文件 -->
		            <property name="paramName" value="language" />
				</bean>
			</mvc:interceptor>
		</mvc:interceptors>
	
	
</beans>